body { 
background-color: #121212;
color: #201f1f;
font-family:sans-serif;
}
header {
border-bottom: 2px solid #161313;
padding:10px;
}
nav a {
color: #ff2020;
text-decoration: none;
}
.lando {
          color:rgb(255, 145, 0)
}
.lewis {
        color: #ff2020;
}
.kimi {
       color: rgb(3, 240, 240);
}
.kimi {
      border-left: rgb(3, 240, 240)
}
.lando {
       border-left: rgb(255, 145, 0)
}
.lewis {  
        border-left: #ff2020;
}
.ayrton {
        border-left: #fbff20;
}
.senna {        
border-left: #4b8ae9;
}
.verde {
        border-left: #18d307;
}